html {
    position: fixed;
}

/** Bold */
@font-face {
    font-family: "SF Text";
    font-weight: 700;
    src: url("fonts/SFUIText-Bold.ttf");
}

/** Bold Italic */
@font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("fonts/SFUIText-BoldItalic.ttf");
}

/** Regular */
@font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("fonts/SFUIText-Regular.ttf");
}

/** Regular Italic */
@font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/SFUIText-Italic.ttf");
}

body {
    user-select: none;
    padding: 0 ;
    margin: 0 ;
    color: #4F5C75 ;
}

#content {
    top: 0;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 944px;
    width: 768px;
    max-width: 768px;
    max-height: 944px;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "SF Text" ;
    font-size: 24px;
    perspective: 1500px;
}

#topicfooter {
    position: absolute;
    width: 768px;
    height: 10px;
    top : 945px ;
    left: 0;
    background: #737BFB;
}

p {
    margin-top: 0;
    line-height: 1.7;
    margin-bottom: 0.85em;
}

p * {
    line-height: normal;
    margin-bottom: 0;
}


input[type=number], input[type=text] {
    padding: 2px;
    border: 3px solid #01D8FF;
    border-radius: 1px;
    width: 1em;
    text-align: center;
    font-size: inherit;
    font-family: "SF Text" ;
    background: white;
    color: #4F5C75 ;
}

input[type=number]:focus, input[type=text]:focus {
    animation-duration: 0.5s;
    animation-name: inputblur;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    outline: none;
}

input[type=number]:disabled, input[type=text]:disabled {
    border: 3px solid #cccccc;
    opacity: 1;
}


@keyframes inputblur {
    from {
        box-shadow: 0px 0px 0px 0px #01D8FF;
        -webkit-box-shadow: 0px 0px 0px 0px #01D8FF;
        -moz-box-shadow: 0px 0px 0px 0px #01D8FF;
    }

    to {
        box-shadow: 0px 0px 0px 1px #01D8FF;
        -webkit-box-shadow: 0px 0px 1px 1px #01D8FF;
        -moz-box-shadow: 0px 0px 1px 1px #01D8FF;
    }
}

span.inputWrapper {
    display: inline-block;
    position: relative;
}

div.crossLine {
    position: absolute;
    width:30px;
    height: 8px;
    background: rgba(247, 62, 99, 0.65);
    transform-origin: 50% 50%;
}

.replaceInputCorrect {
    position: absolute;
}

.replaceInputIncorrect {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #01FF95;
    border-radius: 1em;
}


input[type=radio] {
    margin: 0;
    width: 44px;
    height: 44px;
}

input[type=checkbox] {
    margin: 0;
    width: 42px;
    height: 42px;
}

div.radioContainer {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}

div.radioContainer input {
    opacity: 0;
    cursor: pointer;
}

div.radioContainer input:disabled {
    cursor: auto;
}

div.radio-checkbox {
    background-image: url(images/radiocheckbox.png);
    background-repeat: no-repeat;
    display: block;
}

div.radioSkinUp {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -321px -5px;
}

div.radioSkinDown {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -213px -5px;
}

div.radioSkinUpDisabled {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -375px -5px;
}

div.radioSkinDownDisabled {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -267px -5px;
}

div.checkboxSkinUp {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -109px -5px;
}

div.checkboxSkinDown {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -5px -5px;
}

div.checkboxSkinUpDisabled {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -161px -5px;
}

div.checkboxSkinDownDisabled {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 44px;
    background-position: -57px -5px;
}

select {
    font-family: SF Text;
    font-size: 24px;
    width: 125px;
    border: 3px solid #01D8FF ;
    border-radius: 20px;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-left: 10px;
    padding-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-image: url("images/listboxarrowactive.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: right center;
}

select::-ms-expand {  /* для IE */
    display: none;
}

select:disabled {
    border: 3px solid #cccccc ;
    background-image: url("images/listboxarrowdisabled.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: right center;
    color: #4F5C75 ;
}

div.listboxContainer {
    display: inline-block;
    position: relative;
    font-family: "SF Text" ;
    font-size: 24px;
}


#hidden_span{
    position:absolute;
    top:0;
    left:0;
    visibility: hidden;
    white-space:nowrap;
    overflow:hidden;
}

select.incorrect {
    text-decoration: crimson line-through;
}

select.correct {
    background-image: url("images/checkmark.png");
    background-repeat: no-repeat;
    background-position:right top ;
}

div.popup {
    -webkit-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    -moz-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    border-top: solid 10px #03A2FF;
    padding: 35px;
    position: absolute;
    background: white;
}

div.rememberPopup {
    -webkit-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    -moz-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    border-top: solid 10px #03A2FF;
    padding: 35px 35px 35px 110px;
    position: absolute;
    background: white;
    background-image: url("images/rememberlamp.png");
    background-repeat: no-repeat;
    background-position:left top ;
}

div.wtdPopup {
    -webkit-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    -moz-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    border-top: solid 10px #02D8FF;
    padding: 35px 35px 35px 110px;
    position: absolute;
    background: white;
}

div.wtdPencil {
    position: absolute;
    background: url("images/wtdpencil.png") no-repeat;
    width: 49px;
    height: 49px;
}

div.rememberPopup p:last-child, div.popup p:last-child {
    margin-bottom: 0;
}

div.rememberLampGradient {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(252,244,0,0.65) 0%,rgba(255,255,246,0) 84%,rgba(255,255,255,0) 87%);
}

div.rememberLamp {
    background: url("images/rememberlamplight.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 49px;
    height: 48px;
    position: absolute;
}

div.cloud {
    background-image: url("images/cloud.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 256px;
    height: 256px;
    position: absolute;
    transform-origin: 50% 60%;
    opacity: 0.5;
}

#relative-system-container {
    position: relative;
    top: 0;
    left: 0 ;
}

#system-container {
    position: absolute;
    top: 0;
    left: 0 ;
}

#next-button {
    background: url("images/nextbutton.svg") no-repeat;
    width: 125px;
    height: 96px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 520px;
    top: 860px;
}

#submit-button {
    background: url("images/submitbutton.png") no-repeat;
    width: 125px;
    height: 96px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 520px;
    top: 860px;
    background-position: center; 
    background-size: cover;
}

#replay-button {
    background: url("images/replaybtn.svg") no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    cursor: pointer;
    left: 420px;
    top: 850px;
    display: none;
}


#correct-bubble {
    background: url("images/correctbubble.png") no-repeat;
	width: 320px;
    height: 189px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 430px;
	top: 739px;
	background-position: center;
	background-size: cover;
	
}

#incorrect-bubble {
    background: url("images/incorrectbubble.svg") no-repeat;
    width: 211px;
    height: 189px;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 520px;
    top: 778px;
}


#noresponse-bubble {
    color: #4F5C75 ;
    background: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 200px ;
    left: 238px ;
    display: none;
    font-family: "SF Text" ;

    -webkit-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    -moz-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    border-top: solid 10px #03A2FF;
    padding: 35px;
}

#globalMarker {
    background-image: url("images/marker.png");
    background-repeat: no-repeat;
    width: 71px;
    height: 82px;
    position: absolute;
    z-index: 1000;
    left:750px;
    top:600px;
    display: none;
}

.markerUp {
    background-position: -5px -5px;
}

.markerDown {
    background-position: -86px -5px;
}


#subtitlesPopup {
    -webkit-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    -moz-box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    box-shadow: 0px 5px 35px 0px rgba(0,124,131,0.31);
    border-top: solid 30px #03A2FF;
    padding: 35px;
    position: absolute;
    background: white;
    width: 80%;
    display: none;
    color: #4F5C75 ;
    font-size: 30px;
    font-family: "SF Text" ;
    direction: rtl;
}

#subtitlesPopup div {
    background: url("images/subtitlescross.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -25px ;
    left: calc(100% - 25px);
    direction: rtl;
}

.markerUnderline {
    position: absolute;
    height: 3px;
    width: 0;
}
.markerCloud {
    width:10px;
    height: 10px;
    background: radial-gradient(rgba(255,255,255,0) 10%, rgba(0,0,255,0.05), rgba(255,255,255,0) 50%);
    position: absolute;
}

span.choose {
    display: inline-block;
    padding: 5px 12px 5px 13px;
    border-radius: 20px;
    margin-bottom: 2px;
    text-align: center;
}

span.chooseUpDisabled {
    background: white;
    color: #4F5C75 ;
    border: 3px #cccccc solid;
    cursor: auto;
}

span.chooseUp {
    background: white;
    color: #4F5C75 ;
    border: 3px #01D8FF solid;
    cursor: pointer;
}

span.chooseSelected {
    background: #01D8FF;
    color: white;
    border: 3px #01D8FF solid;
    cursor: pointer;
}

span.chooseSelectedDisabled {
    background: #cccccc;
    border: 3px #cccccc solid;
    color: white;
    cursor: auto;
}

span.frac {
    display: inline-block;
    font-size: 0.85em;
    text-align: center;
    position: relative;
    vertical-align: middle;
    background: inherit;
}

span.numerator, span.denominator  {
    display: block;
    padding-left: 0.09em;
    padding-right: 0.09em;
}

span.denominator {
    display: block;
}

div.fracBar {
    display: block;
    height: 0.08em;
    background: #4F5C75 ;
}

.replaceFractionIncorrect {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #01FF95;
    border-radius: 20px;
}

span.dndTarget {
    display: inline-block;
    vertical-align: middle;
    height: 41px;
    background: white;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

span.dndTargetDisabled {
    border: 3px #cccccc dashed;
}

span.dndTargetActive {
    border: 3px #01D8FF dashed ;
}

span.dndTargetWithCard {
    border: 0;
}


span.dndCard {
    text-align: center;
    display: inline-block;
    padding: 5px 12px 5px 13px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

span.dndCardDisabled {
    background: white;
    color: #4F5C75 ;
    border: 3px #cccccc solid;
    cursor: auto;
}

span.dndCardActive {
    background: white;
    color: #4F5C75 ;
    border: 3px #01D8FF solid;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 11px -5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 11px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 11px -5px rgba(0,0,0,0.2);
}

span.dndCardActiveOnTarget {
    background: white;
    color: #4F5C75 ;
    border: 3px #01D8FF solid;
    cursor: pointer;
}


span.dndWetspot {
    border-radius: 20px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    position: static;
}

span.dndWetspotActive {
    background: #EAF6FF;
}

span.dndWetspotDisabled {
    background: #F5F5F5;
}

div.counter {
    position: absolute;
    font-size: 24px;
    width: 1.25em ;
    height: 1.25em ;
    border-radius: 0.625em;
    display: none;
    text-align: center;
    background: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.44);
}

#speedgame {
    position: absolute;
    top: 0;
    left: 0 ;
    width: 768px;
    height: 954px;
    border: none;
    z-index: -1;
    overflow: hidden;
    max-width: 768px;
    max-height: 944px;

}
